body {
    background-color: rgb(0, 128, 0);
    margin: 0;
}

.roadbricks1::before, .roadbricks1::after {
    content: "";
    position: absolute;
    top: 60%;
    height: 25%;
    width: 100%;
}

.roadbricks1::before {
    background: repeating-linear-gradient(
            0deg,
            rgb(128, 128, 128),
            rgb(128, 128, 128) 20px,
            rgb(169, 169, 169) 30px,
            rgb(169, 169, 169) 30px
    );
}

.roadbricks1::after {
    background: repeating-linear-gradient(
            90deg,
            rgb(128, 128, 128),
            rgb(128, 128, 128) 20px,
            rgb(169, 169, 169) 30px,
            rgb(169, 169, 169) 30px
    );
    mix-blend-mode: lighten;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: rgb(0, 128, 255);
}

.cloud, .cloud::after, .cloud::before, .bush, .bush::after, .bush::before, .mushroom, .mushroom::after, .mushroom::before {
    position: absolute;
}

.cloud, .cloud::after, .cloud::before {
    background: rgb(255, 255, 255);
}

.bush, .bush::after, .bush::before {
    background: rgb(32, 56, 24)
}

.mushroom, .mushroom::after, .mushroom::before {
    background: rgb(255, 0, 0);
}

.cloud::after, .cloud::before {
    content: '';
    border-radius: 80%;
}

.cloud, .bush {
    width: 10%;
    height: 7%;
    border-radius: 150px;
    right: 10%;
}

.cloud {
    box-shadow: 10px 10px rgb(128, 128, 128);
    top: 10%;
    animation: move 5s infinite;
}


.cloud:after {
    width: 35%;
    height: 100%;
    top: -30%;
    left: 20%;
}

.cloud:before {
    width: 55%;
    height: 135%;
    top: -55%;
    right: 10%;
}

.bush:after {
    width: 35%;
    height: 100%;
    top: -30%;
    left: 20%;
}

.bush:before {
    width: 55%;
    height: 135%;
    top: -55%;
    right: 10%;
}

.sun {
    position: absolute;
    right: 10%;
    top: 5%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgb(255, 255, 0), rgb(115, 115, 45) 100%);
}

.left_wheel, .right_wheel {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border: 7px solid rgb(0, 0, 0);
    width: 10%;
    height: 10%;
    min-height: 50px;
    min-width: 50px;
    max-width: 80px;
    max-height: 80px;
}

.left_wheel {
    top: 65%;
    left: 15%;
}

.right_wheel {
    top: 65%;
    left: 33.7%;
}


.mudguard {
    position: absolute;
    top: 62%;
    left: 13%;
    width: 7.5%;
    height: 7.5%;
    border-radius: 12rem 12rem 0 0;
    background-color: transparent;
    border: 8px solid rgb(255, 255, 0);
    border-bottom: none;
}

.pipe_1, .pipe_2, .pipe_3 {
    position: absolute;
    background: rgb(255, 255, 0);
    border-radius: 10px;
}

.pipe_1 {
    top: 69.8%;
    left: 17.6%;
    width: 10%;
    height: 0.6%;
}

.pipe_2 {
    top: 61%;
    left: 25.5%;
    width: 12.5%;
    height: 0.7%;
    transform: rotate(-45deg);
}

.pipe_3 {
    top: 52%;
    left: 36%;
    width: 0.4%;
    height: 19%;
}

.pipe_4 {
    position: absolute;
    top: 51.5%;
    left: 32.5%;
    width: 7%;
    height: 0.7%;
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
    border-radius: 10px;
}

.spoke {
    position: absolute;
    background: rgb(128, 128, 128);
    border: 2px solid rgb(0, 0, 0);
    height: 0.2%;
    width: 100%;
    top: 50%;
    transform-origin: 50% 0;
}

.spoke:nth-child(2) {
    transform: rotate(45deg);
}

.spoke:nth-child(3) {
    transform: rotate(90deg);
}

.spoke:nth-child(4) {
    transform: rotate(135deg);
}

.handle_1, .handle_2 {
    position: relative;
    border-radius: 25px;
    background: rgb(0, 0, 0);
    border: 4px solid rgb(24, 21, 21);
    transform: rotate(90deg);
    width: 30%;
    height: 7%;
    max-width: 30%;
    max-height: 7%;
}

.handle_1 {
    right: 17%;
    bottom: 328%;
}

.handle_2 {
    left: 80%;
    bottom: 450%;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
}

.mushroom, .bush {
    position: relative;
    animation: none;
}

.mushroom {
    box-shadow: none;
    bottom: 250%;
    height: 10%;
    width: 2%;
    transform: scaleX(-2);
}

.bush {
    height: 40%;
    box-shadow: 10px 10px rgb(32, 56, 24);
    background: rgb(32, 56, 24);
    transform: rotate(7deg);
}

.trunk, .corpus {
    position: relative;
    width: 22%;
    height: 10%;
    transform: rotate(90deg);
}

.trunk {
    background: rgb(86, 42, 24);
    left: 45%;
    top: 125%;
    border-radius: 20%;
}

.corpus {
    background: rgb(255, 255, 255);
    left: 40%;
    top: 115%;
    border-radius: 50%;
}

.flex, .flex_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 27%;
}

.flex {
    top: 33%;
}

.flex_2 {
    top: 75%;
}
